@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
nav {
  background: linear-gradient(to left, #e66465, #9198e5);
}
.footer {
  background: linear-gradient(to left, #e66465, #9198e5);
}
:root {
  --primary-color: #5f0d69;
  --off-white: #f3f4f6;
  --light-purple: #f1d6f5;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
}

hr {
  margin: 2rem 0rem;
}

/*space*/

.margin-md {
  margin: 2rem;
}

/*container*/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

/*link*/
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  margin: 1rem auto;
  border-radius: 2rem;
}
.link-primary:hover {
  background: linear-gradient(to left, #e66465, #9198e5);
}

.link-secondary {
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.link-secondary:hover {
  background: linear-gradient(to left, #e66465, #9198e5);
  color: whitesmoke;
  border: none;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.In-sync {
  display: inline;
  padding: 0rem 0rem;
}

/* nav */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
}

.nav-brand a {
  text-decoration: none;
  color: inherit;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

/* header */
.imp {
  padding: 2rem;
  padding-top: 5rem;
}

.imp .imp-img {
  max-width: 80%;
  width: 550px;
  display: block;
  margin: auto;
}

.imp .imp-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--light-purple);
}

.imp .imp-heading .twisted {
  color: var(--primary-color);
}

/* sec */

.section {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  text-align: center;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/*footers*/

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

/*projects*/
.showcase-list {
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}

/* blog */

.showcase-blog {
  padding-bottom: 6rem;
}

@media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  }
  .container-center {
    width: auto;
  }

  .link-primary {
    display: block;
  }
}

.In-sync {
  margin: 0em 0em;
}
